
/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.loginBase {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    height: 700px;
}

.loginBox {
    color: #000000;
    border-radius: 15px;
    padding:30px;
    padding-right: 100px;
    padding-left: 100px;
    width: 700px;
    background-color: #FFFFFF;
    filter: drop-shadow(3px 3px 15px #999b98);
}

.typeBoxLogin {
    background-color: #ffffff;
    color: #000000;
    border: none;
}

.typeBoxLogin::placeholder {
    color: #000000;
}

.typeBoxLogin:focus {
    background-color: #ffffff;
    color: #000000;
    
}

.setbtn {
    background-color: #6d6b6b;
    color:#FFFFFF;
    margin: 10px;
    border-radius: 4px;
}

.setbtn:hover {
    background-color: #383434;
    color:#FFFFFF;
}

.btnBox {
    display: flex;
    justify-content: center;
}
