.signup-container {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 1px;
    width: 80%;
    margin-top: 300px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .signup-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0069d9;
  }
  
  .signup-button:disabled {
    background-color: #ced4da;
    cursor: not-allowed;
  }